<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
  <a href="http://blog.bibitiger.cn">(bibitiger的主页)
  </a>
  <script>
	(function(){
	    var bp = document.createElement('script');
	    var curProtocol = window.location.protocol.split(':')[0];
	    if (curProtocol === 'https') {
	        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
	    }
	    else {
	        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
	    }
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(bp, s);
	})();
</script>
<script>
(function(){
   var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?7f9c7a6f83d76c6421c5ed175eca4bee":"https://jspassport.ssl.qhimg.com/11.0.1.js?7f9c7a6f83d76c6421c5ed175eca4bee";
   document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
</p>
<p>
  <a href="http://www.miitbeian.gov.cn/">沪ICP备18040345号
  </a>
</p>
